* {
  scroll-behavior: smooth;
}

.card-title {
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.signin .input-group {
  position: relative;
  background-color: rgb(243, 221, 249);
}
.signin .input-group input {
  width: 300px;
}

.signin input:focus {
  outline: none;
}
